<div class="flex flex-col gap-3 mb-3">
        @if(loading){<app-loader class="relative! bg-transparent!"></app-loader>}
        @if(!loading && variable){
            <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-1">
                    <span class="text-sm font-semibold text-surface-500">Código</span>
                    <span class="text-sm text-gray-400 font-bold">{{variable.code}}</span>
                </div>
                <div class="flex flex-col gap-1">
                    <span class="text-sm font-semibold text-surface-500">Tipo</span>
                    <span class="text-sm text-gray-400 font-bold">{{variable.type}}</span>
                </div>
                <div class="flex flex-col gap-1">
                    <span class="text-sm font-semibold text-surface-500">Valor</span>
                    <textarea fluid pTextarea class="h-[200px]!" [autoResize]="false" [value]="variable.value" readonly></textarea>
                </div>
            </div>
        }
</div>

<div class="flex justify-end gap-2 ">
    <p-button icon="pi pi-times" size="small" label="Cerrar" severity="secondary" (click)="evtOnClose()"/>
</div>
