.slide-down-dialog {
  animation: slideDown 300ms ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


::ng-deep .p-timeline-event-opposite{
  display: none !important;
}